@import 'variables';

body {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
}

#app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }

// header //
.header {
  background: rgb(2,0,36);
  background: linear-gradient(339deg, $baseblue 10%, $middleblue 35%, $purple 100%);
  height: 300px;
  position: relative;

  & .navbar-collapse {
    @media only screen and (max-width: 1000px) {
      background: #543ab7;
      z-index: 9;
      padding: 5px 10px;
    }

    @media only screen and (max-width: 768px) {
      background: none;
    }
  }

  @media only screen and (max-width:768px) {
    min-height: 100px;
    height: auto;
  }

  & .navbar-nav {
    & a {
      color: white;
      display: inline-block;
      padding: 4px 20px;
      margin: 0 7px;
      height: 42px;
      line-height: 30px;
  
      &:hover {
        border-radius: 30px;
        color: white;
      }
    }
  
    & .regsiter-button {
      border: 1px solid white;
      border-radius: 30px;
  
      &:hover {
        background: $purple;
        text-decoration: none;
      }
  
      @media only screen and (max-width:768px) {
        border: none;
  
        &:hover {
          background: none;
          text-decoration: underline;
        }
      }
    }
  }

  & .blog-title {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 40px;
    margin: auto;
    right: 0;
    left: 0;

    @media only screen and (max-width:768px) {
      display: none;
    }
  }
}


// Footer //
footer {
  background: rgb(2,0,36);
  background: linear-gradient(339deg, $baseblue 10%, $middleblue 35%, $purple 100%);
  height: 500px;
  position: relative;
  overflow: hidden;
}
.circle {
  background: radial-gradient(ellipse at center, #ffbdd700 0%, #ffbdd70f 71%, transparent 66%);
  background-size: 25% 99%;
  background-repeat: repeat-x;
  background-position: -20px center;
  min-width: 2000px;
  height: 365px;
  overflow: hidden;
  top: -157px;
  position: absolute;
  width: 133%;

  @media only screen and (max-width:768px) {
    display: none;
  }
}

.second-circle {
  background: radial-gradient(ellipse at center, #ffbdd700 0%, #ffbdd70f 71%, transparent 66%);
  background-size: 25% 97%;
  background-repeat: repeat-x;
  background-position: -20px center;
  width: 122vw;
  height: 402px;
  top: -172px;
  left: -153px;
  position: absolute;

  @media only screen and (max-width:768px) {
    display: none;
  }
}

.subscribe {
  width: 40%;
  min-width: 200px;
  height: 200px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;

  @media only screen and (max-width:768px) {
    width: 70%;
    top: 40px;
    bottom: auto;
  }

  & h2 {
    color: white;
    margin-bottom: 30px;
    font-size: 18pt;
  }

  & p {
    color: white;
    width: 75%;
    margin: 0 auto 60px;
    font-size: 11pt;
  }

  & .subscribe-form {
    width: 70%;
    position: relative;
    margin: 0 auto;

    @media only screen and (max-width:768px) {
      width: 80%;
    }

    @media only screen and (max-width:679px) {
      width: 100%;
    }

    & input[type=text] {
      width: 100%;
      height: 60px;
      padding: 20px;
      border: none;
      border-radius: 40px;
    }

    & button {
      background: $baseblue;
      border: none;
      border-radius: 35px;
      color: white;
      height: 51px;
      position: absolute;
      top: 5px;
      right: 4px;
      padding: 0 25px;
      line-height: 40px;

      @media only screen and (max-width: 500px) {
        position: relative;
        width: 100%;
        right: 0;
        top: 21px;
        height: 62px;
      }
    }
  }
}


.bottom-footer {
  position: absolute;
  bottom: 0;
  color: #ffffff;
  font-size: 13px;
  width: 100%;
  right: 0;
  left: 0;
  margin: inherit;
  background: #00000014;
  height: 50px;
  line-height: 50px;

  & .navbar-nav {
    display: inline;

    & a {
      display: inline-block;
      color: white;
      margin: 0 10px;
    }
  }
}